.root
  background-color: #7C4DFF
  border-radius: 5px
  font-family: "Fira Code"
  font-weight: 400
  color: white
  border: solid 2px white
  overflow: visible
  font-size: 1em
  box-shadow: 0 1px 1.5px 1px rgba(0,0,0,.12)
  min-height: 3em
  display: flex
  align-items: center
  justify-content: center
  max-width: 15em
