@import "../../assets/variables.sass"

.tabs
  display: flex
  align-items: center
  background: white
  box-shadow: $z1
  position: relative
  z-index: 2

.tab
  flex: 1
  color: #555
  text-align: center
  padding: 0.45em 0
  font-size: 1.08em
  text-decoration: none

.active
  color: #222
  border-bottom: 3px solid $accent
