.wrapper
  position: absolute
  bottom: 0
  width: 100%
  background: #2d2d30
  color: #fff
  // overflow-y: scroll

  .clear
    position: absolute
    top: 1em
    right: 1em
    width: 1.3em
    height: 1.3em
    fill: #e74c3c
    cursor: pointer

.console
  height: 10em
  padding: 1em

  .log
    line-height: 1.6em

.term
  width: 100%
  overflow-x: hidden
  background: #1f1f22
  outline: none
  border: none
  color: #fff
  padding: .6em 1em
  font-family: monospace
  font-size: 1.15em
