@import "../../assets/variables.sass"

.initial
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto
  position: relative
  min-height: 77vh
  background: url(https://kazzkiq.github.io/CodeFlask.js/img/bg-main_2x.png) #48466d
  background-size: 188px auto

  .contain
    display: flex
    align-items: center
    justify-content: center
    width: 65%
    height: 15em
    max-width: $breakpoint
    margin: 1.3em 1.8em
    padding: 1.5em 1.5em 1.5em 1.5em
    border-radius: 4px
    background: transparent
