@import "./normalize.scss"

body
  margin: 0
  font-weight: 300
  background: #fdfdfd

*
  box-sizing: border-box
  touch-action: manipulation
  font-family: "Fira Code", monospace

@font-face
  font-family: "Fira Code"
  src: url(https://cdn.rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf)
